html
    head
        title Battleship War
        // Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')

        // Custom CSS
        link(href='/css/style.css', rel='stylesheet')

        // Custom Fonts
        link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Scripts
        script(src="/js/jquery-1.8.3.min.js")
    body
        .container
            img.logo(src="/res/logo.png")

            a.startBtn.btn.btn-lg.col-xs-6.col-xs-offset-3.mt-xl(href="/single") Singleplayer
            br
            a.startBtn.btn.btn-lg.col-xs-6.col-xs-offset-3(href="/@/createRoom") Multiplayer
            

