doctype html
html
    head
        title Login
    body
        form.login(method="post", action="/@/login")
            input(type="text", name="username")
            br
            input(type="password", name="password")
            br
            input(type="submit")